 {% extends 'dashboard_base.html' %}
  
 {% load static %}
  {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ml.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<body>
  <div class="container">

    <div class="title"> Fill Your Details</div>
    <form method="post" >{% csrf_token %}
      <div class="user-details">




        <div class="input-box">

          <span class="details">No of childern</span>
          <input type="number" id="CNT_CHILDREN" min="0" name="CNT_CHILDREN" placeholder="Enter Number Of Childern" required autofocus>
          
        </div>

        <div class="input-box">

          <span class="details">Total Anual Income</span>
          <input type="number" id="floatingInput" min="0" name="AMT_INCOME_TOTAL" placeholder="Enter Your Anual Income" required>
          
        </div>

        <div class="input-box">

          <span class="details">DOB</span>
          <input type="date" id="floatingInput" name="DAYS_BIRTH" placeholder="Enter Your Date Of Birth" required>
          
        </div>

        <div class="input-box">

          <span class="details">Date of First Employment</span>
          <input type="date" id="floatingInput" name="DAYS_EMPLOYED"placeholder="Enter Your Empolment Date" required>
          
        </div>

        <div class="dropdown-title">

          <span class="details">Have a Mobile?</span>
              <select   name="FLAG_MOBIL" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="1">Yes</option>
              <option value="0">No</option>
          </select>

        </div>

      <div class="dropdown-title">

          <span class="details">Have a Work Phone?</span>
              <select  name="FLAG_WORK_PHONE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="1">Yes</option>
              <option value="0">No</option>
          </select>

        </div>


        <div class="dropdown-title">

          <span class="details">Have a Phone?</span>
              <select name="FLAG_PHONE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="1">Yes</option>
              <option value="0">No</option>
          </select>

        </div>

        <div class="dropdown-title">

          <span class="details">Have a Email?</span>
              <select  name="FLAG_EMAIL" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="1">Yes</option>
              <option value="0">No</option>
          </select>

        </div>

        <div class="input-box">

          <span class="details">No of Family Member</span>
          <input type="number" id="floatingInput" name="CNT_FAM_MEMBERS" min="0" placeholder="Enter Your Number of FamilyMember" required>
          
        </div>


        <div class="dropdown-title">

          <span class="details">Gender</span>
              <select  name="CODE_GENDER" required>

              <option disabled selected value> -- select an option -- </option>
               
              <option value="M">Male</option>
              
              <option value="F">Female</option>
          </select>

        </div>

       

          


      <div class="dropdown-title">

          <span class="details">Have a Car?</span>
              <select  name="FLAG_OWN_CAR" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Y">Yes</option>
              <option value="N">No</option>
          </select>

        </div>

      


        <div class="dropdown-title">

          <span class="details" >Have a Properties?</span>
              <select  name="FLAG_OWN_REALTY" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Y">Yes</option>
              <option value="N">No</option>
          </select>

        </div>



        <div class="dropdown-title">

          <span class="details">Income Type</span>
              <select name="NAME_INCOME_TYPE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Commercial associate">Commercial associate</option>
              <option value="Pensioner">Pensioner</option>
              <option value="State servant">State servant</option>
              <option value="Student">Student</option>
              <option value="Working">Working</option>
          </select>

        </div>


        <div class="dropdown-title">

          <span class="details">Education Type</span>
              <select  name="NAME_EDUCATION_TYPE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Academic degree">Academic degree</option>
              <option value="Higher education">Higher education</option>
              <option value="Incomplete higher">Incomplete higher</option>
              <option value="Lower secondary">Lower secondary</option>
              <option value="Secondary / secondary special">Secondary / secondary special</option>
          </select>

        </div>


        <div class="dropdown-title">

          <span class="details">Status</span>
            <select  name="NAME_FAMILY_STATUS" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Civil marriage">Civil marriage</option>
              <option value="Married">Married</option>
              <option value="Separated">Separated</option>
              <option value="Single / not married">Single / not married</option>
              <option value="Widow">Widow</option>
          </select>

        </div>


        <div class="dropdown-title">

          <span class="details">House Type</span>
              <select name="NAME_HOUSING_TYPE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Co-op apartment">Co-op apartment</option>
              <option value="House / apartment">House / apartment</option>
              <option value="Municipal apartment">Municipal apartment</option>
              <option value="Office apartment">Office apartment</option>
              <option value="Rented apartment">Rented apartment</option>
              <option value="With parents">With parents</option>
          </select>

        </div>


        <div class="dropdown-title">

          <span class="details">Occupation Type</span>
              <select name="OCCUPATION_TYPE" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="Accountants">Accountants</option>
              <option value="Cleaning staff">Cleaning staff</option>
              <option value="Cooking staff">Cooking staff</option>
              <option value="Core staff">Core staff</option>
              <option value="Drivers">Drivers</option>
              <option value="HR staff">HR staff</option>
              <option value="High skill tech staff">High skill tech staff</option>
              <option value="IT staff">IT staff</option>
              <option value="Laborers">Laborers</option>
              <option value="Low-skill Laborers">Low-skill Laborers</option>
              <option value="Managers">Managers</option>
              <option value="Medicine staff">Medicine staff</option>
              <option value="Private service staff">Private service staff</option>
              <option value="Realty agents">Realty agents</option>
              <option value="Sales staff">Sales staff</option>
              <option value="Secretaries">Secretaries</option>
              <option value="Security staff">Security staff</option>
              <option value="Waiters/barmen staff">Waiters/barmen staff</option>
              <option value="Unknown">Unknown</option>
          </select>

        </div>
            
      <div class="button">

      
        <input type="submit" id="Submit" value="Submit"   />


        
      </div>

      {% for field in Data_form %}

      
        

              {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>

              {% endfor %}
              



            {% endfor %}





      </div>
      

    </form>



        
    




  </div>


</body>
{% include 'snippets/footer.html' %}

  {% endblock content %}